.markdown-field .form_inputs {
  padding-top: 1em;
}

.markdown-field .tab-menu li a {
  border-bottom: 1px solid #efefef;
}

.md-preview-area {
  padding: 1em;
  border: 1px solid #EFEFEF;
}

.md-preview-area pre.prettyprint,
.md-preview-area code {
  background-color: #333;
  margin: 0;
  border: none;
}

/* desert scheme ported from vim to google prettify */
.md-preview-area pre.prettyprint { display: block; background-color: #333; padding: 1em; margin: 1em 0; }
.md-preview-area pre .nocode { background-color: none; color: #000 }
.md-preview-area pre .str { color: #ffa0a0 } /* string  - pink */
.md-preview-area pre .kwd { color: #f0e68c; font-weight: bold }
.md-preview-area pre .com { color: #87ceeb } /* comment - skyblue */
.md-preview-area pre .typ { color: #98fb98 } /* type    - lightgreen */
.md-preview-area pre .lit { color: #cd5c5c } /* literal - darkred */
.md-preview-area pre .pun { color: #fff }    /* punctuation */
.md-preview-area pre .pln { color: #fff }    /* plaintext */
.md-preview-area pre .tag { color: #f0e68c; font-weight: bold } /* html/xml tag    - lightyellow */
.md-preview-area pre .atn { color: #bdb76b; font-weight: bold } /* attribute name  - khaki */
.md-preview-area pre .atv { color: #ffa0a0 } /* attribute value - pink */
.md-preview-area pre .dec { color: #98fb98 } /* decimal         - lightgreen */

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

.md-loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url(data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH+GkNyZWF0ZWQgd2l0aCBhamF4bG9hZC5pbmZvACH5BAAKAAAAIf8LTkVUU0NBUEUyLjADAQAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQACgABACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkEAAoAAgAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkEAAoAAwAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkEAAoABAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQACgAFACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQACgAGACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAAKAAcALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==) no-repeat center center #fff;
}
